@import url('https://fonts.googleapis.com/css?family=Lato|Heebo|Josefin+Sans');
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: 'Josefin Sans', sans-serif;
}

img {
  width: 10rem;
  height: auto;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

p {
  font-size: 1.5rem;
}

main {
  display: block;
  width: 100%;
  padding: 0;
}

section {
  padding: 3rem;
  height: auto;
}

section#about {
  background: url('https://media.giphy.com/media/xT9IgN8YKRhByRBzMI/giphy.gif')
    no-repeat center center/cover;
  padding-top: 10rem;
  color: #cacfd2;
}

#projects-title {
  background-color: #eee;
}

section#about h1 {
  font-size: 3rem;
  background: rgba(0, 0, 0, 0.8);
  padding: 1rem;
  color: #eee;
  text-shadow: #212f3d;
}

section#about .col img {
  width: 50%;
  display: block;
  margin: 0 auto;
  box-shadow: 0.5rem 0.5rem 0.5rem #eee;
  border-radius: 5px;
}

/* SKILLS SECTION */
section#skills {
  background: url('https://images.pexels.com/photos/266526/pexels-photo-266526.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')
    no-repeat center center/cover;
  color: #eee;
}

section#skills .lead {
  padding: 3rem;
  background-color: rgba(46, 64, 83, 0.8);
}

section#skills h2 {
  display: block;
  margin: 1rem auto;
  width: 50%;
  text-align: center;
  font-size: 2rem;
  padding: 1.5rem;
  background-color: rgba(0, 0, 0, 0.8);
}

section#skills .row {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-gap: 3rem;
}

section#skills .row .col {
  width: 10rem;
  height: 10rem;
  margin-left: 3rem;
  padding: 3rem;
  background-color: #eee;
  border-radius: 0.2rem;
}

section#skills .row .col#html {
  background: url(../img/html5.jpg) no-repeat center center/cover;
}

section#skills .row .col#css {
  background: url(../img/css3.jpeg) no-repeat center center/cover;
}

section#skills .row .col#sass {
  background: url(../img/sass.png) no-repeat center center/cover;
}

section#skills .row .col#js {
  background: url(../img/JavaScript-logo.png) no-repeat center center/cover;
}

section#skills .row .col#csharp {
  background: url(../img/csharp.jpg) no-repeat center center/cover;
}

section#skills .row .col#asp {
  background: url(../img/aspnet.png) no-repeat center center/cover;
}

.other-skills {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
}

.other-skills img {
  width: 100%;
}

section#skills .other-skills p {
  background-color: darkgray;
  color: black;
  padding: 1rem;
  box-shadow: 0.4rem 0.4rem 0.6rem darkgray;
  width: 100%;
}

section#skills .other-skills .skills-col {
  padding: 3rem;
}

section#experience {
  background: url('https://images.pexels.com/photos/1954/black-and-white-lights-abstract-curves.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')
    no-repeat center center/cover;
  color: #eee;
}

section#experience .row {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 3rem;
}

section#experience .row .col {
  background-color: rgba(213, 219, 219, 0.5);
  border: 1px solid #eee;
  padding: 2rem;
}

/* PROJECTS SECTION */
section#projects {
  background: url('https://images.pexels.com/photos/532563/pexels-photo-532563.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')
    no-repeat center center/cover;
  color: #cacfd2;
  text-align: center;
}

section#projects img {
  width: 250px;
  height: 250px;
  box-shadow: 1rem 1rem 2rem #eee;
  border-radius: 3px;
}

section#projects .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

section#projects a {
  text-decoration: none;
  color: #eee;
}

/* CONTACT SECTION */
section#contact {
  background: url('https://images.pexels.com/photos/20721/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')
    no-repeat center center/cover;
  color: #ddd;
}

.container {
  display: block;
}

#map iframe {
  display: block;
  margin: 1rem auto;
  width: 100%;
  height: auto;
}

.social-media {
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.6);
}

.social-media-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.social-media h3 {
  text-align: center;
  font-size: 2rem;
}

.social-media a {
  text-decoration: none;
  display: inline;
}

.social-media i {
  display: block;
  text-align: center;
  font-size: 2rem;
  color: #eee;
  margin: 0 auto;
  padding: 0 auto;
}

footer {
  padding: 3rem;
  text-align: center;
  font-size: 2rem;
  background-color: #17202a;
  color: #ddd;
}

@media (max-width: 600px) {
  main {
    display: block;
  }
}

@media (min-width: 769px) {
  .navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 70px;
    background: black;
  }

  #navlist {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
  }

  #navlist li {
    margin: 0 0.7rem;
    padding: 1rem;
  }

  #navlist li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f4f4f4;
  }

  #navlist li a:hover {
    color: #1f618d;
  }

  #button {
    width: 50%;
    height: auto;
    margin-top: 10px;
    text-align: center;
    padding: 10px;
    background-color: #000;
    color: #eee;
    border: none;
    cursor: pointer;
  }

  #button:hover {
    background-color: #eee;
    color: #000;
  }

  #map iframe {
    width: 500px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .social-media i {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .navbar {
    position: fixed;
    width: 100%;
    background-color: black;
  }

  #bars,
  #times {
    display: block;
    position: relative;
    top: 0;
    left: 50%;
    font-size: 2.5rem;
    color: #fff;
    padding: 10px;
    cursor: pointer;
  }

  #bars.hidden,
  #times.hidden {
    display: none;
  }

  #navlist {
    display: none;
  }

  #navlist.responsive {
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: none;
    background-color: gray;
  }

  #navlist.responsive li {
    padding: 2rem;
    text-align: center;
  }

  #navlist.responsive li:hover {
    background-color: #eee;
  }

  #navlist.responsive li a {
    text-decoration: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #000;
  }

  #navlist.responsive li a:hover {
    color: #000;
  }

  section#skills .row {
    display: block;
  }

  section#skills .row .col {
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
  }

  section#skills .other-skills {
    display: block;
  }

  .other-skills img,
  .other-skills p {
    display: block;
    margin: 0 auto;
  }

  section#experience .row {
    display: block;
  }

  section#experience .row .col {
    padding: 2rem;
    margin-bottom: 3rem;
  }

  section#projects .row {
    display: block;
  }

  section#projects .row .box {
    margin-bottom: 2rem;
  }
}

@media (max-width: 999px) {
  .container {
    display: block;
  }

  #form {
    width: 100%;
    padding: 1rem;
    display: block;
    margin: 0 auto;

    background-color: rgb(98, 101, 103);
    height: auto;
  }

  form {
    padding: 2rem;
  }

  #form p {
    font-size: 0.8rem;
  }

  #form input,
  #form textarea {
    width: 100%;
  }

  #button {
    width: 100px;
    height: auto;
    margin-top: 10px;
    text-align: center;
    padding: 10px;
    background-color: #000;
    color: #eee;
    border: none;
    cursor: pointer;
  }

  #button:hover {
    background-color: #eee;
    color: #000;
  }
}

@media (min-width: 1000px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 2rem;
  }

  #form {
    width: 100%;
    background-color: rgb(98, 101, 103);
    height: auto;
  }

  form {
    padding: 2rem;
  }

  #form p {
    font-size: 1rem;
  }

  #form input,
  #form textarea {
    width: 100%;
  }

  #map {
    width: 50%;
    height: auto;
  }

  .social-media i {
    font-size: 3rem;
  }
}

@media (min-width: 760px) and (max-width: 1100px) {
  .other-skills {
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(2, 2fr);
  }

  .other-skills img {
    width: 50%;
  }
}

@media only screen and (min-width: 1300px) {
}

@media (min-width: 1600px) and (max-width: 2000px) {
}
